WebSockAdapter.UpgradeError

Hello there 👋🏼 

In #14 (released as `0.5.5`), a change was made to the way websocket connections are validated (I understand it to be that `upgrade` MUST be a part of the `Connection` header now). Although this change is aligned with the spec, it caused a notable change in our application's error rate immediately after deploy.

Unfortunately, we are completely unsure when a client would send `Connection: Keep-Alive` to that endpoint, but it happens often. (Do you know of any reason why a socket connection initiated by `phoenix.js` might do that?) We are certain that it is a websocket client making the erroneous request — not a rogue crawler or anything like that — because the request includes our authorization token and `vsn` param. A small sample size of requests have shown Chrome on Windows as the user agent (but the sample size is much too small to be a significant indicator).

Because we can't pinpoint the source of the erroneous request, we also can't know whether the request was being served successfully previously. The `WebSockAdapter.UpgradeError` doesn't appear to replace any older errors in our tracing, so the outcome of these requests before the change is unclear.

To make this actionable, here are two points:

* Could you please consider changes like the introduction of `WebSockAdapter.UpgradeError` to be breaking changes in the future? Despite the closer alignment with the spec, it was effectively a breaking change for our application.
* Are you aware of any situation in which a websocket client (ex. `phoenix.js`) would send `Connection: Keep-Alive` to `/socket/websocket`?

Thanks for your help!

Thanks for the issue! 

To your points:

1. We can / should do this; I agree that this could have been handled better. There was some agony internally about whether to enable this flag by default & the thinking was that pushing towards conformance made possible breakage worthwhile; the homogeneity of clients means that any regressions would probably be apparent early; it looks like you just drew the short straw here.

2. The spec doesn't *entirely* seem to be explicit here. The relevant clause is [RFC6455§4.1/6](https://datatracker.ietf.org/doc/html/rfc6455#section-4.1), which says
  
    > The request MUST contain a |Connection| header field whose value
        MUST include the "Upgrade" token.

Specifically, the distinction is whether 'include' means 'equals' or 'contains, possibly comma separated from other values'. Usage of the term is inconsistent elsewhere in the document; some (non-normative) sections use it in a sense which is obvious equivalent to 'equals', whereas other sections use the separate term 'value must equal' to describe equality. 

As implemented today, we consider it to mean `equals`, but Cowboy's implementation [interprets it as `contains'](https://github.com/ninenines/cowboy/blob/22adc4de517bf54661795f6e18b6b2e62aec4140/src/cowboy_websocket.erl#L109-L115). 

Setting aside the logical inconsistency of a connection header containing both 'upgrade' and 'keep-alive', I think it's reasonable for us to move to a 'contains' semantic for the `connection` and `upgrade` header clauses. I'll get a PR & release cooked up with this shortly.

Thanks for the issue!


https://github.com/phoenixframework/phoenix/pull/5621 up for review that will result in upgrade failures coming back to the client as 400s with actionable error descriptions. 

Hi there!

Thanks for talking me through it. It's good to know this isn't a regression, and very interesting that users have been having this experience for so long with no reported issues.

The evidence I have available right now is sparse:

* The offending queries have our authorization token and `vsn` params attached (with valid values), as mentioned before.
* We do observe what appears to be some retry behavior, with attempts using the same authorization token between 2–5sec apart.
* The handful of requests we were able to check manually were by users who primarily use Chrome on Windows, but no specific version (Chrome 97–118, Windows 7–11).

Given that the user experience is unchanged, we may deploy this again with errors silenced in our tracking so that we can check additional user agents.

Thanks for the update. I continue to suspect that the root cause here is some sort of (possibly long standing) bug in phoenix.js.

https://github.com/phoenixframework/phoenix/pull/5621 is merged upstream and once deployed will surface the errors to the client; hopefully that makes it easier to diagnose.

In the meantime, feel free to close this! We'll adopt the new version of `phoenix.js` as soon as we can.

Sounds good. Thanks for the issue!